<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <div class="jumbotron">
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>
                    <p>{{this.content}}</p>
                    <small class="author">
                        {{this.author.fullName}}
                    </small>
                    <footer>
                        <p><a class="btn btn-primary btn-lg" href="/article/details/{{this.id}}">Learn more</a></p>
                    </footer>
                </div>
            </div>
        {{/each}}
    </div>
</div>

